
{{>userheader}}

<!-- Page Content -->
<div class="container">
    </br>

    <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4"><h4>My Jobs</h4></div>
        <div class="col-sm-2"></div>
        <div class="col-sm-2">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter"><i class="fa fa-plus-circle"></i> Add New Job</button>
        </div>
    </div>

    <hr>
    <table id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
        <tr>
            <th>#</th>
            <th>Job Title</th>
            <th>Pay Rate</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        {{#each result}}
        <tr>
            <td>{{inc @index}}</td>
            <td>{{title}}</td>
            <td>${{payrate}}</td>
            <td>
                <a href="" data-toggle="modal" data-target="#updateModalCenter" href="javascript:void(0)" rel="{{title}}#sep#{{payrate}}#sep#{{id}}" onclick="setUpdateParam(this)">
                    <span class="badge badge-success"><i class="fa fa-edit"></i> Edit</span>
                </a>
                <a href="javascript:void(0)" onclick="deleteAction({{id}})">
                    <span class="badge badge-danger"><i class="fa fa-trash"></i> Delete</span>
                </a>
            </td>
        </tr>
        {{/each}}
        </tbody>
        <tfoot>
        <tr>
            <th>#</th>
            <th>Job Title</th>
            <th>Pay Rate</th>
            <th>Action</th>
        </tr>
        </tfoot>
    </table>
    </br>



</div>
<!-- /.container -->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; My Planner 2018</p>
    </div>
    <!-- /.container -->
</footer>

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<script type="text/javascript" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="
https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>

<script type="text/javascript">
    //del function
    function deleteAction(delId) {
        if(window.confirm('Do you realy want to delete this job ?')) {
            window.location.href="/deletejob/"+delId;
        }
    }
    //add job
    function addJob() {
        return true;
    }
    //update job
    function updateJob() {
        return true;
    }
    //setiing update val
    function setUpdateParam(elemObj) {
        var relItem = elemObj.rel;
        var editData = relItem.split('#sep#');
        $("#up-job-title").val(editData[0]);
        $("#up-pay-rate").val(editData[1]);
        $("#up-job-id").val(editData[2]);
    }
    //table width setting
    $('#example').dataTable( {
        "columns": [ { "width": "5%"}, null, { "width": "11%"}, { "width": "20%"} ]
    } );
</script>

<!-- Add Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header" style="background-color: whitesmoke;">
                <h5 class="modal-title" id="exampleModalLongTitle">Add New Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" action="/postjob" method="post">
            <div class="modal-body">
                    <div class="form-group">
                        <label>Job Title :</label>
                        <input type="text" class="form-control"
                               id="add-job-title" placeholder="Job Title" name="title" required/>
                    </div>
                    <div class="form-group">
                        <label>Pay Rate :</label>
                        <input type="number" class="form-control"
                               id="add-pay-rate" placeholder="Pay Rate" name="payrate" required/>
                    </div>
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btn-add" onclick="addJob();">
                    <i class="fa fa-plus"></i> Add
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-close"></i> Cancel
                </button>
            </div>
            </form>

        </div>
    </div>
</div>

<!-- Update Modal -->
<div class="modal fade" id="updateModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">

            <div class="modal-header" style="background-color: whitesmoke;">
                <h5 class="modal-title" id="exampleModalLongTitle">Update Job</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form role="form" action="/updatejob" method="post">
            <div class="modal-body">
                    <div class="form-group">
                        <label>Job Title :</label>
                        <input type="text" class="form-control"
                               id="up-job-title" placeholder="Job Title" name="title" required />
                    </div>
                    <div class="form-group">
                        <label>Pay Rate :</label>
                        <input type="number" class="form-control"
                               id="up-pay-rate" placeholder="Pay Rate" name="payrate" required />
                    </div>
                    <input type="hidden" name="jobid" value="0" id="up-job-id" />
            </div>

            <div class="modal-footer">
                <button type="submit" class="btn btn-success" id="btn-update" onclick="updateJob();">
                    <i class="fa fa-edit"></i> Update
                </button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">
                    <i class="fa fa-close"></i> Cancel
                </button>
            </div>
            </form>

        </div>
    </div>
</div>



