{{>userheader}}
<div class="container">
    </br>
    <center><h4>Update Profile</h4></center>
    <hr>
    <div class="row">
        <div class="col-md-3"></div>
        <!-- edit form column -->
        <div class="col-md-9 personal-info">



            <form class="form-horizontal" role="form" method="post">

                <div class="form-group">
                    <label class="col-sm-2 control-label">First name :</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="fname" type="text" value="{{fname}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Last name :</label>
                    <div class="col-lg-8">
                        <input class="form-control" name="lname" type="text" value="{{lname}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-lg-3 control-label">Email :</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="email" value="{{email}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Password :</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="pwd" value="{{pwd}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label">Confirm password :</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="cpwd" value="{{pwd}}">
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-md-3 control-label"></label>
                    <div class="col-md-8">
                        <input type="submit" class="btn btn-success" value="Update">
                        <span></span>

                    </div>
                </div>

            </form>
        </div>
    </div>
</div>
<hr>
{{>footers}}
<!-- /.container -->